{% import '_includes/forms' as forms %}

{% set schemaInput = schemaOptions ? forms.selectField({
    name: 'schemaId',
    options: schemaOptions,
    value: settings.schemaId,
  }) : tag('p', {
    class: ['warning', 'with-icon'],
    text: 'No schemas exist yet.'|t('app'),
  })
%}

{{ forms.field({
  label: 'GraphQL Schema',
  instructions: 'The schema that access tokens will be assigned to.',
  name: 'schemaId',
  required: true,
  first: true,
}, schemaInput) }}

{{ forms.selectField({
  label: 'Access Token Expiration',
  instructions: 'The length of time before access tokens expire.',
  name: 'expiration',
  value: settings.expiration,
  options: [
    { value: '', label: 'Never' },
    { value: '1 hour', label: '1 hour' },
    { value: '1 day', label: '1 day' },
    { value: '1 week', label: '1 week' },
    { value: '1 month', label: '1 month' },
    { value: '3 months', label: '3 months' },
    { value: '6 months', label: '6 months' },
    { value: '1 year', label: '1 year' },
  ],
  required: true,
}) }}

{{ forms.field({
  label: 'Use HTTP-Only cookie',
  instructions: "Whether or not the `authenticate` and `register` mutations should set an HTTP-Only cookie (named `gql_accessToken`) which will be used for signing subsequent requests automatically.",
  warning: "If you're going to be authenticating from a remote origin, you will need to add that origin to the `allowedGraphqlOrigins` config setting in `general.php`.",
  name: 'setCookie',
}, forms.lightswitch({
  name: 'setCookie',
  on: settings.setCookie,
})) }}

{{ forms.selectField({
  label: 'User Group',
  instructions: 'The user group that users will be assigned to when created through the `register` mutation.',
  name: 'userGroup',
  value: settings.userGroup,
  options: userOptions,
}) }}

{% if not settings.schemaId %}
  {{ forms.field({
    label: 'User Permissions',
    instructions: 'Select your desired schema and save to modify user permissions.',
  }, null) }}
{% else %}
  {% if entryQueries %}
    <div class="field">
      <div class="heading">
        <label>Restricted Entry Queries</label>

        <div class="instructions">
          <p>Choose which sections are limited so that authenticated users can only query their own entries. Only sections allowed in your schema will show here.</p>
        </div>
      </div>

      <div class="input">
        {% for query in entryQueries %}
          <div>
            {{ forms.checkbox({
              label: query.label,
              name: 'entryQueries[' ~ query.handle ~ ']',
              value: true,
              checked: settings.entryQueries[query.handle] ?? false,
            }) }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if entryMutations %}
    <div class="field">
      <div class="heading">
        <label>Restricted Entry Mutations</label>

        <div class="instructions">
          <p>Choose which sections are limited so that authenticated users can only mutate their own entries. Only sections allowed in your schema will show here.</p>
        </div>
      </div>

      <div class="input">
        {% for mutation in entryMutations %}
          <div>
            {{ forms.checkbox({
              label: mutation.label,
              name: 'entryMutations[' ~ mutation.handle ~ ']',
              value: true,
              checked: settings.entryMutations[mutation.handle] ?? false,
            }) }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if assetQueries %}
    <div class="field">
      <div class="heading">
        <label>Restricted Asset Queries</label>

        <div class="instructions">
          <p>Choose which volumes are limited so that authenticated users can only query their own assets. Only volumes allowed in your schema will show here.</p>
        </div>
      </div>

      <div class="input">
        {% for query in assetQueries %}
          <div>
            {{ forms.checkbox({
              label: query.label,
              name: 'assetQueries[' ~ query.handle ~ ']',
              value: true,
              checked: settings.assetQueries[query.handle] ?? false,
            }) }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if assetMutations %}
    <div class="field">
      <div class="heading">
        <label>Restricted Asset Mutations</label>

        <div class="instructions">
          <p>Choose which volumes are limited so that authenticated users can only mutate their own assets. Only volumes allowed in your schema will show here.</p>
        </div>
      </div>

      <div class="input">
        {% for mutation in assetMutations %}
          <div>
            {{ forms.checkbox({
              label: mutation.label,
              name: 'assetMutations[' ~ mutation.handle ~ ']',
              value: true,
              checked: settings.assetMutations[mutation.handle] ?? false,
            }) }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}
