{% import '_includes/forms' as forms %}

<h1>Social Settings</h1>

{{ forms.field({
  instructions: "Separate mutations for each service will be available once you've filled in the appropriate details.",
  first: true,
}, '') }}

<hr/>

{{ forms.field({
  label: 'Skip Activation',
  instructions: "Whether or not users will be automatically activated when registering via social mutations.",
  name: 'skipSocialActivation',
}, forms.lightswitch({
  name: 'skipSocialActivation',
  on: settings.skipSocialActivation,
})) }}

<hr/>
<h2>Google</h2>

{{ forms.field({
  instructions: 'Use the `googleSignIn` mutation after filling in the `Client ID` field.',
  first: true,
}, '') }}

{{ forms.autosuggestField({
  label: 'Client ID',
  instructions: 'The client ID from your Google OAuth project.',
  name: 'googleClientId',
  value: settings.googleClientId,
  placeholder: 'xxxx-xxxx.apps.googleusercontent.com',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.textField({
  label: 'Allowed Email Domains',
  instructions: "The domains from which you'd like to allow Google Sign-In. Comma-delimited. Leave empty to allow any domain.",
  name: 'allowedGoogleDomains',
  value: settings.allowedGoogleDomains,
  placeholder: 'domain1.com, domain2.co.uk',
  required: false,
}) }}

<hr/>
<h2>Facebook</h2>

{{ forms.field({
  instructions: 'Use the `facebookOauthUrl` query to get the authorization URL, then use the `facebookSignIn` mutation to authenticate a user, after filling in the all fields below.',
  first: true,
}, '') }}

{{ forms.autosuggestField({
  label: 'App ID',
  instructions: 'The App ID from your Facebook app.',
  name: 'facebookAppId',
  value: settings.facebookAppId,
  placeholder: 'xxxxxxxxxxxxxxxx',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'App Secret',
  instructions: 'The App Secret from your Facebook app.',
  name: 'facebookAppSecret',
  value: settings.facebookAppSecret,
  placeholder: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'Redirect URL',
  instructions: 'The URL to redirect to after authenticating.',
  name: 'facebookRedirectUrl',
  value: settings.facebookRedirectUrl,
  placeholder: 'https://yoursite.com/redirect',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.textField({
  label: 'Allowed Email Domains',
  instructions: "The domains from which you'd like to allow Facebook Login. Comma-delimited. Leave empty to allow any domain.",
  name: 'allowedFacebookDomains',
  value: settings.allowedFacebookDomains,
  placeholder: 'domain1.com, domain2.co.uk',
  required: false,
}) }}

<hr/>
<h2>Twitter</h2>

{{ forms.field({
  instructions: 'Use the `twitterOauthUrl` query to get the authorization URL, then use the `twitterSignIn` mutation to authenticate a user, after filling in the all fields below.',
  first: true,
}, '') }}

{{ forms.autosuggestField({
  label: 'API Key',
  instructions: 'The API Key from your Twitter app.',
  name: 'twitterApiKey',
  value: settings.twitterApiKey,
  placeholder: 'xxxxxxxxxxxxxxxxxxxxxxxxx',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'API Key Secret',
  instructions: 'The API Key Secret from your Twitter app.',
  name: 'twitterApiKeySecret',
  value: settings.twitterApiKeySecret,
  placeholder: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'Redirect URL',
  instructions: 'The URL to redirect to after authenticating.',
  name: 'twitterRedirectUrl',
  value: settings.twitterRedirectUrl,
  placeholder: 'https://yoursite.com/redirect',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.textField({
  label: 'Allowed Email Domains',
  instructions: "The domains from which you'd like to allow Log in with Twitter. Comma-delimited. Leave empty to allow any domain.",
  name: 'allowedTwitterDomains',
  value: settings.allowedTwitterDomains,
  placeholder: 'domain1.com, domain2.co.uk',
  required: false,
}) }}

<hr/>
<h2>Apple</h2>

<h3>iOS</h3>

{{ forms.autosuggestField({
  label: 'App Client ID',
  instructions: 'The App Client ID from your Apple app.',
  name: 'appleClientId',
  value: settings.appleClientId,
  placeholder: 'com.yourapp.id',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'App Client Secret',
  instructions: 'The App Client Secret from your Apple app.',
  name: 'appleClientSecret',
  value: settings.appleClientSecret,
  placeholder: 'xxxxxxxxxx',
  required: false,
  suggestEnvVars: true,
}) }}

<hr/>
<h3>Web</h3>

{{ forms.field({
  instructions: 'Use the `appleOauthUrl` query to get the authorization URL, then use the `appleSignIn` mutation to authenticate a user, after filling in the all fields below.',
  first: true,
}, '') }}

{{ forms.autosuggestField({
  label: 'Service ID',
  instructions: 'The Service ID from your Apple app.',
  name: 'appleServiceId',
  value: settings.appleServiceId,
  placeholder: 'com.yourapp.id.web',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'Service Client Secret',
  instructions: 'The Service Client Secret from your Apple app.',
  name: 'appleServiceSecret',
  value: settings.appleServiceSecret,
  placeholder: 'xxxxxxxxxx',
  required: false,
  suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
  label: 'Redirect URL',
  instructions: 'The URL to redirect to after authenticating.',
  name: 'appleRedirectUrl',
  value: settings.appleRedirectUrl,
  placeholder: 'https://yoursite.com/redirect',
  required: false,
}) }}
