{% import '_includes/forms' as forms %}

<h1>Social Settings</h1>

{{ forms.field({
  instructions: "Separate mutations for each service will be available once you've filled in the appropriate details.",
  first: true,
}, null) }}

<hr/>
<h2>Google</h2>

{{ forms.field({
  instructions: 'Use the `googleSignIn` mutation after filling in the `Client ID` field.',
  first: true,
}, null) }}

{{ forms.textField({
  label: 'Client ID',
  instructions: 'The client ID from your Google OAuth project.',
  name: 'googleClientId',
  value: settings.googleClientId,
  placeholder: 'xxxx-xxxx.apps.googleusercontent.com',
  required: false,
}) }}

{{ forms.textField({
  label: 'Allowed Email Domains',
  instructions: "The domains from which you'd like to allow Google Sign-In. Comma-delimited. Leave empty to allow any domain.",
  name: 'allowedGoogleDomains',
  value: settings.allowedGoogleDomains,
  placeholder: 'domain1.com, domain2.co.uk',
  required: false,
}) }}

<hr/>
<h2>Facebook</h2>

{{ forms.field({
  instructions: 'Use the `facebookOauthUrl` query to get the authorization URL, then use the `facebookSignIn` mutation to authenticate a user, after filling in the all fields below.',
  first: true,
}, null) }}

{{ forms.textField({
  label: 'App ID',
  instructions: 'The App ID from your Facebook app.',
  name: 'facebookAppId',
  value: settings.facebookAppId,
  placeholder: '1716990698455471',
  required: false,
}) }}

{{ forms.textField({
  label: 'App Secret',
  instructions: 'The App Secret from your Facebook app.',
  name: 'facebookAppSecret',
  value: settings.facebookAppSecret,
  placeholder: 'fc499fd8250d2821bb41cf75ceead942',
  required: false,
}) }}

{{ forms.textField({
  label: 'Redirect URL',
  instructions: 'The URL to redirect to after authenticating.',
  name: 'facebookRedirectUrl',
  value: settings.facebookRedirectUrl,
  placeholder: 'https://yoursite.com',
  required: false,
}) }}

{{ forms.textField({
  label: 'Allowed Email Domains',
  instructions: "The domains from which you'd like to allow Facebook Login. Comma-delimited. Leave empty to allow any domain.",
  name: 'allowedFacebookDomains',
  value: settings.allowedFacebookDomains,
  placeholder: 'domain1.com, domain2.co.uk',
  required: false,
}) }}

<hr/>
<h2>Twitter</h2>

{{ forms.field({
  instructions: 'Use the `twitterOauthUrl` query to get the authorization URL, then use the `twitterSignIn` mutation to authenticate a user, after filling in the all fields below.',
  first: true,
}, null) }}

{{ forms.textField({
  label: 'API Key',
  instructions: 'The API Key from your Twitter app.',
  name: 'twitterApiKey',
  value: settings.twitterApiKey,
  placeholder: 'fZ60QeEmjHKIqq7a7NxcfOBPN',
  required: false,
}) }}

{{ forms.textField({
  label: 'API Key Secret',
  instructions: 'The API Key Secret from your Twitter app.',
  name: 'twitterApiKeySecret',
  value: settings.twitterApiKeySecret,
  placeholder: 'EjszP3Ax1J2Y3VfDdDTqpgRr0Wb5IWibIgeSbQA1VzyWMUhzRR',
  required: false,
}) }}

{{ forms.textField({
  label: 'Redirect URL',
  instructions: 'The URL to redirect to after authenticating.',
  name: 'twitterRedirectUrl',
  value: settings.twitterRedirectUrl,
  placeholder: 'https://yoursite.com',
  required: false,
}) }}

{{ forms.textField({
  label: 'Allowed Email Domains',
  instructions: "The domains from which you'd like to allow Log in with Twitter. Comma-delimited. Leave empty to allow any domain.",
  name: 'allowedTwitterDomains',
  value: settings.allowedTwitterDomains,
  placeholder: 'domain1.com, domain2.co.uk',
  required: false,
}) }}

<hr/>
<h2>Apple</h2>
<p>Coming soon!</p>
